<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.vittorio_zaccaria.superfind</string>
    <key>createdby</key>
    <string>Vittorio Zaccaria</string>
    <key>description</key>
    <string>Simple alfred interface to mdfind</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>superfind</string>
    <key>webaddress</key>
    <string>https://your-git-address-here</string>
    <key>uid</key>
    <string>1cef9eb6-f2fc-4e37-bd8a-9fcd03becad4</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>1</integer>
          <key>keyword</key>
          <string>f</string>
          <key>runningsubtext</key>
          <string>Running superfind...</string>
          <key>script</key>
          <string>/usr/local/bin/node index.js &quot;{query}&quot;</string>
          <key>title</key>
          <string>superfind...</string>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>8419f5a2-bc32-4c25-8352-61e4912c623d</string>
        <key>version</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict/>
        <key>type</key>
        <string>alfred.workflow.action.openfile</string>
        <key>uid</key>
        <string>0b7284eb-0f60-422a-a4a6-cd17369ed54a</string>
      </dict>
    </array>
    <key>connections</key>
    <dict>
      <key>8419f5a2-bc32-4c25-8352-61e4912c623d</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>0b7284eb-0f60-422a-a4a6-cd17369ed54a</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string></string>
        </dict>
      </array>
    </dict>
    <key>uidata</key>
    <dict>
      <key>8419f5a2-bc32-4c25-8352-61e4912c623d</key>
      <dict>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
      <key>0b7284eb-0f60-422a-a4a6-cd17369ed54a</key>
      <dict>
        <key>ypos</key>
        <integer>10</integer>
      </dict>
    </dict>
  </dict>
</plist>